

@import "src/@fuse/scss/fuse";

.contact-form-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 400px;
    }

    .mat-dialog-container {
        padding: 0;

        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }
}

.slide-bottom {

    margin-bottom:  6%;
}

.container
{
  position: relative;
  margin-top: 0px;
  margin-bottom: 25px;
  width: 500px;
  height: 300px;
  border-style: dashed;
  color: #e0e0e0;
}

.overlay
{
border-radius: 3%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
 }

 .icon-btn {
    font-size: 300%;
 }

 .title-btn {
     font-size: 160%;
 }

 .space {
    margin: 3%;



}


.mat-progress-bar {
        
    height: 30px !important;

}

.info-send {
    flex: 1 1 0%;
    box-sizing: border-box;
}


@import "src/@fuse/scss/fuse";

login {

    #login {
        width: 100%;
        background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat;
        background-size: cover;

        #login-form-wrapper {
            flex: 1 0 auto;
            padding: 32px;

            @include media-breakpoint('xs') {
                padding: 16px;
            }

            #login-form {
                width: 384px;
                max-width: 384px;
                padding: 32px;
                text-align: center;
                @include mat-elevation(16);

                @include media-breakpoint('xs') {
                    padding: 24px;
                    width: 100%;
                }

                .logo {
                    width: 128px;
                    margin: 32px auto;
                }

                .title {
                    font-size: 20px;
                    margin: 16px 0 32px 0;
                }

                form {
                    width: 100%;
                    text-align: left;

                    mat-form-field {
                        width: 100%;
                    }

                    mat-checkbox {
                        margin: 0;
                    }

                    .remember-forgot-password {
                        font-size: 13px;
                        margin-top: 8px;

                        .remember-me {
                            margin-bottom: 16px
                        }

                        .forgot-password {
                            font-size: 13px;
                            font-weight: 600;
                            margin-bottom: 16px
                        }
                    }

                    .submit-button {
                        width: 220px;
                        margin: 16px auto;
                        display: block;

                        @include media-breakpoint('xs') {
                            width: 90%;
                        }
                    }
                }

                .register {
                    margin: 32px auto 24px auto;
                    font-weight: 600;

                    .text {
                        margin-right: 8px;
                    }
                }

                .separator {
                    font-size: 15px;
                    font-weight: 600;
                    margin: -16px auto;
                    position: relative;
                    overflow: hidden;
                    width: 100px;

                    .text {
                        display: inline-flex;
                        position: relative;
                        padding: 0 8px;
                        z-index: 9999;

                        &:before,
                        &:after {
                            content: '';
                            display: block;
                            width: 30px;
                            position: absolute;
                            top: 10px;
                            border-top: 1px solid;
                        }

                        &:before {
                            right: 100%;
                        }

                        &:after {
                            left: 100%;
                        }
                    }
                }

                button {

                    &.google,
                    &.facebook {
                        width: 192px;
                        text-transform: none;
                        color: #FFFFFF;
                        font-size: 13px;
                    }

                    @include media-breakpoint('xs') {
                        width: 80%;
                    }

                    &.google {
                        background-color: #D73D32;
                        margin-bottom: 8px;
                    }

                    &.facebook {
                        background-color: rgb(63, 92, 154);
                    }
                }
            }
        }
    }
}

.spinner-loading {
    margin-bottom: 7%;
}

.content-send {
    margin-top: 2%;


}

.content-send-spinner {
    margin-top: 4%;

    @include media-breakpoint('xs') {
        margin-top: 20%;    }
}

.center-send {
        /* margin: 4%; */
    /* margin-left: -4%; */
    place-content: center;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    margin-top: 10%;
    width: 100%;
}

.center-send-spinner {
    place-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    box-sizing: border-box;
    margin-left: 39%;
    /* margin-right: 14%; */
    margin-top: 6%;
@include media-breakpoint('xs') {
    margin-left: 30%;
   
}

}


.fail {
    margin-top: 3%;
}


