<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title-dialog dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

    </mat-toolbar>

    <div mat-dialog-content class="pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="campaignForm" class="form">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Asunto</mat-label>
                   
                    <input name="name" formControlName="affair" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <div class="container" *ngIf="!_campaignService.previewLoading">
                    <img src="assets/images/file_placeholder.png" class="img-empty" alt="" />
 
                    
                    <input hidden id="fileUpload" type="file" #fileInput />
                    <div class="overlay"></div>
                    <div></div>
                    <button mat-fab  (click)="fileUpload()"  class="button fuse-white mt-24 mt-md-0">
                        <mat-icon>add_photo_alternate</mat-icon>
                    </button>
                  </div>

                  <div class="container-load" *ngIf="_campaignService.previewLoading">
                    <img [src]="_campaignService.previewUrl"  class="img-load"  alt="" />
                    <input hidden  id="fileUpload" type="file" #fileInput formControlName="imgBlob"/>
                    <div class="overlay"></div>
                    <div></div>
                    <button mat-fab  (click)="fileUpload()"  class="button fuse-white mt-24 mt-md-0">
                        <mat-icon>add_photo_alternate</mat-icon>
                    </button>
                  </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Email remitente</mat-label>
                    <input formControlName="sender" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Nombre remitente</mat-label>
                    <input formControlName="nameSender" matInput>
                </mat-form-field>
            </div>


            <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Mensaje confirmación</mat-label>
                    <textarea name="messageConfirm" formControlName="messageConfirm" matInput type="text" max-rows="4"></textarea>
                </mat-form-field>
            </div>

            


            <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Mensaje cancelación</mat-label>
                    <textarea name="messageCancel" formControlName="messageCancel" matInput type="text" max-rows="4"></textarea>
                </mat-form-field>
            </div>

            <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Datos adicionales</mat-label>
                    <textarea name="footer" formControlName="footer" matInput type="text" max-rows="4"></textarea>
                </mat-form-field>
            </div>

        </form>


    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'"
                mat-button
                class="mr-8"
                (click)="matDialogRef.close(['delete',campaignForm])"
                aria-label="Delete"
                matTooltip="Delete">
            ELIMINAR
        </button>

        <button *ngIf="action !== 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(campaignForm)"
                [disabled]="campaignForm.invalid"
                aria-label="SAVE">
            AGREGAR
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(['save',campaignForm])"
                [disabled]="campaignForm.invalid"
                aria-label="SAVE">
            GUARDAR
        </button>

    </div>
</div>
