<div class="fab-container">
        <button mat-fab class="fab-toggler"
                (click)="onToggleFab()">
                <mat-icon>add</mat-icon>
        </button>
        <div [@speedDialStagger]="buttons.length"> <!-- and here -->
          <input hidden id="fileUpload" type="file" #fileInput/>
          <button *ngFor="let btn of buttons"
                  mat-mini-fab
                  class="fab-secondary"
                  (click)="handleClick(btn.click)"
                  color="secondary">
                  <mat-icon class="icon-second">{{btn.icon}}</mat-icon>
          </button>
        </div>
      </div>

