<div class="page-layout carded left-sidebar inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar" name="carded-left-sidebar-2" position="left" lockedOpen="gt-md">

        <!-- SIDEBAR HEADER -->



        <div class="header-custom accent inputs-container" fxLayout="row" fxLayoutAlign="space-between center">


                   
        <div fxLayout="row" fxLayoutAlign="start center">
 <!--
            <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/e-commerce/products'">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <div class="product-image-icon mr-8 mr-sm-16" >
                <img *ngIf="product.images[0]" [src]="product.images[0].url">
                <img *ngIf="!product.images[0]" [src]="'assets/images/add_event_white.png'">
            </div>

             -->

            <div fxLayoutAlign="start start" >
   
               <button mat-icon-button class="sidebar-toggle btn-close" fxHide.gt-md
               (click)="toggleSidebar('carded-left-sidebar-2')">
               <mat-icon>close</mat-icon>
           </button>

                   



                   <h2 class="title-list">Campos disponibles</h2>
               </div>
               <!-- / SIDEBAR HEADER -->

            </div>
        </div>
        <!-- / APP TITLE -->

 

        <!-- SIDEBAR CONTENT -->
        <div class="content-inputs" fusePerfectScrollbar>

            <div class="demo-sidebar">
                <mat-list>



                    <form class="form-margin" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
                        name="productForm" [formGroup]="_formCustomService.inputsEnabledForm">

                        <span class="title-category">Editar y seleccionar</span>

                        <div class="list-fields" formArrayName="fieldsEnabled" cdkDropList #todoList="cdkDropList"
                            [cdkDropListData]="_formCustomService.formDataFieldsInputs.controls" [cdkDropListConnectedTo]="[doneList]"
                            (cdkDropListDropped)="drop($event)">


                            <div class="item-field" *ngFor="let f of _formCustomService.formDataFieldsInputs.controls; index as i" 
                            [formGroupName]="i"
                            [@animate]="{value:'*',params:{x:'100%'}}"
                            cdkDrag>

                            <div fxLayout="row" fxLayoutAlign="start center" >

                            
                                    <mat-form-field appearance="outline" fxFlex="75">
                                        <mat-label *ngIf="f.value.required">{{ f.value.title }} *</mat-label>

                                        <mat-label *ngIf="!f.value.required">{{ f.value.title }} </mat-label>
                                        <input name="name" formControlName="title" matInput (change)="changeTitle(f.value)">

                                        <mat-error>
                                            {{ _formCustomService.getMesaggeErrorTitle(i, f.value.title) }}
                                    </mat-error>
                                        
                                    </mat-form-field>
                            

                                <div class="btn-action">

                                    <mat-slide-toggle class="space" formControlName="required" ></mat-slide-toggle>

                                    <button mat-icon-button class="sidebar-toggle"
                                    (click)="dropItemSideBarClose(i, f,'carded-left-sidebar-2')">
                                    <mat-icon>swap_horiz</mat-icon>
                                </button>

                                </div>

                                </div>

    






                            </div>

                        </div>



                    </form>



                </mat-list>
            </div>


        </div>
        <!-- / SIDEBAR CONTENT -->

    </fuse-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center center-custom">


        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar">

                <button mat-icon-button class="sidebar-toggle" fxHide.gt-md
                    (click)="toggleSidebar('carded-left-sidebar-2')">
                    <mat-icon>menu</mat-icon>
                </button>

                <span class="title-select">Campos seleccionados</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
        <!-- SIDEBAR CONTENT -->
        <div class="content-inputs" fusePerfectScrollbar>

            <div class="demo-sidebar">
                <mat-list>     
            
            <form class="form-margin" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
            name="productForm" [formGroup]="_formCustomService.inputsSelectionForm">

            <div cdkDropList class="list-fields"  #doneList="cdkDropList" formArrayName="fieldsSelection"  [cdkDropListData]="_formCustomService.formDataFieldsInputsSelection.controls"
                [cdkDropListConnectedTo]="[todoList]"  class="list-fields" (cdkDropListDropped)="drop($event)"
                fusePerfectScrollbar>


                <div class="item-field" *ngFor="let f of _formCustomService.formDataFieldsInputsSelection.controls; index as i"  [formGroupName]="i"
                [@animate]="{value:'*',params:{x:'-100%'}}"
                 cdkDrag>

                    <div fxLayout="row" fxLayoutAlign="start center">
                              
                        <mat-form-field  appearance="outline" fxFlex="75">
                            <mat-label *ngIf="f.value.required">{{ f.value.title }} *</mat-label>

                            <mat-label *ngIf="!f.value.required">{{ f.value.title }} </mat-label>
                            <input name="name" [type]="f.value.type"  formControlName="value" matInput  >
                        </mat-form-field>                    
                    <div class="btn-action">

                
                        <button mat-icon-button matTooltip="Seleccionar" class="sidebar-toggle"
                        (click)="dropItemSideBarSelectionClose(i, f,'carded-left-sidebar-2')">
                        <mat-icon>swap_horiz</mat-icon>
                    </button>

                    </div>

                </div>



                </div>


            </div>

            </form>

            </mat-list>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>