@import "src/@fuse/scss/fuse";

.contact-form-dialog {

    @include media-breakpoint('xs') {
       
        width: 100%;
        max-width: 100vw !important;
    }

    @include media-breakpoint('gt-xs') {
       
        width: 900px;
    }

    .mat-dialog-container {

 
        padding: 0;



        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }
}

.slide-bottom {

    margin-bottom:  6%;
}

.form {
    margin-top: 5%;
}

.content {

    
    @include media-breakpoint('xs') {
        margin-left: 3%;
        margin-right: -3%;
        margin-top: 3%;
    }

}

.mat-form-field-infix {

    width: 350px !important;


    @include media-breakpoint('xs') {
        width: 118px !important;
    }

 
}