@import "src/@fuse/scss/fuse";

products-campaigns {

    #campaign {



        > .center {

        
            > .header {

                padding: 2%;

                
    height: 100% !important;
    min-height: 100px !important;
    max-height: 100px !important;

                .search-wrapper {
                    width: 100%;
                    max-width: 480px;
                    border-radius: 28px;
                    overflow: hidden;
                    @include mat-elevation(1);

                    @include media-breakpoint('xs') {
                        width: 100%;
                    }

                    .search {
                        width: 100%;
                        height: 48px;
                        line-height: 48px;
                        padding: 0 18px;

                        input {
                            width: 100%;
                            height: 48px;
                            min-height: 48px;
                            max-height: 48px;
                            padding: 0 16px;
                            border: none;
                            outline: none;
                        }
                    }
                }

            }
        }
    }


    form {
        width: 100%;
        max-width: 800px !important;
    }

    .form-errors-model {
        flex: 1;

        code {
            background: none !important;
        }
    }


}

.empty-event {
    height: 119%;
    max-width: 190%;
}

.empty-card {
    align-items: center;
}






    .content {

        .category-selector {
            min-width: 320px;
        }

        .filters {
            width: 100%;
            max-width: 1040px;
            margin: 24px auto;
            padding: 0 20px;

            @include media-breakpoint('xs') {
                margin: 0 auto;
            }

            .course-search {
                width: 320px;

                @include media-breakpoint('gt-xs') {
                    margin-right: 16px;
                }
            }
        }

    

        .courses {

            @include media-breakpoint('xs') {
                margin-bottom: 70px;
            }


            margin: 0 auto;


          


            .no-courses {
                font-size: 24px;
                margin: 24px 0;
                text-align: center;
            }

            .course {
                padding: 16px;

                &:hover {

                    .course-content {
                        border: none;
                        @include mat-elevation(12);
                    }
                }

                .course-content {
                    min-height: 240px;
                    border-radius: 4px;
                    overflow: hidden;
                    transition: box-shadow 200ms ease-in-out;
                    @include mat-elevation(1);

                    .header {
                        padding: 16px 24px;
                        height: 64px !important;
                        min-height: 64px !important;

                        
                        
            @include media-breakpoint('xs') {
                padding: 16px 10px;
            }
                        &.web-bg {
                            background: mat-color($mat-blue, 500);
                        }

                        &.android-bg {
                            background: mat-color($mat-green, 500);
                        }

                        &.firebase-bg {
                            background: mat-color($mat-amber, 800);
                        }

                        &.cloud-bg {
                            background: mat-color($mat-blue-grey, 500);
                        }

                        .category {
                            text-transform: capitalize;
                            text-align: left;
                            font-weight: 600;
                        }

                        .length {

                            .length-icon {
                                margin-right: 8px;
                            }

                            .min {
                                font-size: 16px;
                            }
                        }
                    }

                    .content {
                        

                        .h1 {
                            font-size: 16px;
                            text-align: center;
                        }

                        .updated {
                            font-size: 13px;
                            font-weight: 600;
                            margin-top: 4px;
                        }
                    }

                    .footer {
                        padding: 16px;
                        height: 48px !important;
                        min-height: 48px !important;
                        max-height: 48px !important;
                        box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.12);
                    }
                }
            }
        }
    }
.secondary-text {

    text-transform: lowercase !important;
}


.content-card {
    padding: 16px;



}

.empty-campaign {
    width: 100%;

    max-width: 100%;
  


   
}



.icon-lg {
    display: flex !important;

    @include media-breakpoint('xs') {

        display: none !important;

}

}

.logo-icon {
    font-size: 50px;
}

.spinner-fab {
    position: fixed !important;
}

.img-campaign {
    height: 356px;
}

@import "src/@fuse/scss/fuse";

.fab-container {

    z-index: 100;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: fixed;
   

   

    @include media-breakpoint('sm') {


      bottom: 150px;
    
     
    
    }

    @include media-breakpoint('m') {


      bottom: 160px;
    
     
    
    }

    
  @include media-breakpoint('xs') {


    bottom: 50px;
    left: 90%;
   

}

@include media-breakpoint('xl') {


  bottom: 400;

 

}
    
  
    > div {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      margin-bottom: 5px;
  
      button {
        margin-bottom: 17px;
      }
    }
  }

  
  .fab-toggler {
    float: right;
    z-index: 100;
  }

  .icon-second {

    color:#878787
  }

  
.spinner-fab-btn {
  margin-top: -15%;
}