<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    event
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Campañas
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div *ngIf="campaignExists" class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Buscar evento">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button (click)="addCampaignDialog()" class="add-product-button fuse-white mt-24 mt-md-0">
                <span>CREAR NUEVA</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->


        <div class="widget-group margin-card" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom>


            <!-- WIDGET 1 -->

            <div *ngFor="let c of _campaignService.campaigns">



                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
                    fxFlex.gt-xs="50" fxFlex.gt-md="25">
                    <!-- PREVIEW -->
                    <div class="card-preview">

                        <div class="fuse-card">


                            <div>

                                <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                                    <div class="pr-16">
                                        <div class="text-bold ">{{ c.affair }}</div>
                                        <div class="h5 text-bold secondary-text"> {{ c.sender }}</div>

                                    </div>

                                    <div>
                                        <button mat-icon-button [matMenuTriggerFor]="card19Menu" aria-label="more">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>

                                        <mat-menu #card19Menu="matMenu">
                                        
                                        <button mat-menu-item (click)="editCampaign(c)" >
                                            <mat-icon>edit</mat-icon>
                                            <span>Editar</span>
                                        </button>
                                    

                                            <button mat-menu-item (click)="deleteCampaign(c)">
                                                <mat-icon>delete</mat-icon>
                                                <span>Eliminar</span>
                                            </button>
                                            <!--
                                            <button mat-menu-item  >
                                            <mat-icon>file_copy</mat-icon>
                                            <span>Duplicar</span>
                                        </button>
                                            -->
                                        </mat-menu>
                                    </div>
                                </div>

                            </div>

                            <img [src]="c.imgBlob">

                            <div class="pl-16 pr-8 py-16 h-52 widget-front" fxLayout="row">
                                <button (click)="sendCampaignDialog(c)" mat-raised-button color="accent"
                                    class="mt-24 mt-md-0">
                                    <span>Enviar invitación
                                    </span>
                                </button>

                            </div>

                        </div>

                    </div>
                    <!-- / PREVIEW -->


                </fuse-widget>
                <!-- / WIDGET 1 -->
            </div>

        </div>
        <!-- / WIDGET GROUP -->

        <div *ngIf="campaignExists" class="content-card empty-card">
            <img src="assets/images/emptyevent.png">
        </div>


        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>