<div id="campaign" class="page-layout-campaign carded fullwidth inner-scroll">


    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">


            <div class=" icon-lg ml-sm-32 " fxLayout="row" fxLayoutAlign="center center">


                <mat-icon class="logo-icon mr-24">assignment
                </mat-icon>

            </div>

            <!-- SEARCH -->

            <div class="ml-sm-32 icon-xs" fxLayout="row" fxLayoutAlign="center center">

            </div>
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input [(ngModel)]="searchTerm" (input)="filterCoursesByTerm()" placeholder="Buscar campaña">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button (click)="addCampaignDialog()" class="add-btn fuse-white mt-24 mt-md-0">
                <span>CREAR NUEVA</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->
        

        <div class="content p-24" >

            <div fxLayout="column" class="content-card" fxLayoutAlign="center" fusePerfectScrollbar>
    



                     

        <div class="courses" fxLayout="row wrap" >

            <div class="course" *ngFor="let c of filteredCourses" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33"
                [@animate]="{value:'*',params:{y:'100%'}}">

                <div class="course-content" fxLayout="column" fxFlex="1 1 auto">

                    <div class="header" fxLayout="row" fxLayoutAlign="center center">
                        <div class="category" fxFlex>
                            {{c.affair}}

                            <div class="h5 text-bold secondary-text" fxLayout> {{ c.sender }}</div>

                        </div>




                        <div>
                            <button mat-icon-button [matMenuTriggerFor]="card19Menu" aria-label="more">
                                <mat-icon>more_vert</mat-icon>
                            </button>

                            <mat-menu #card19Menu="matMenu">

                                <button mat-menu-item (click)="editCampaign(c)">
                                    <mat-icon>edit</mat-icon>
                                    <span>Editar</span>
                                </button>


                                <button mat-menu-item (click)="deleteCampaign(c)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Eliminar</span>
                                </button>

                                <button *ngIf="_campaignService.eventOpen" (click)="linkOfEventOpen(c._id)"
                                    mat-menu-item>
                                    <mat-icon>link</mat-icon>
                                    <span>Link para compartir</span>
                                </button>


                                <!--
                                <button mat-menu-item  >
                                <mat-icon>file_copy</mat-icon>
                                <span>Duplicar</span>
                            </button>
                                -->
                            </mat-menu>
                        </div>

                    </div>

                    <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">




                        <img [src]="c.imgBlob" class="img-campaign">

                        <!--
                        <div class="h5 text-bold secondary-text" fxLayout> {{c.update | date:'short'}}</div>

                        -->

                    </div>

                    <div class="footer" fxLayout="row" fxLayoutAlign="center center">
                        <button mat-button color="accent" (click)="sendCampaignDialog(c)">
                            Enviar
                            <mat-icon>send</mat-icon>
                        </button>
                    </div>

                </div>

            </div>

            <mat-spinner class="spinner-fab" *ngIf="_campaignService.loadingCampaigns" diameter="50"></mat-spinner>



            <div class="no-courses" *ngIf="!_campaignService.loadingCampaigns && filteredCourses.length === 0">
                No se encontraron campañas
            </div>


                                    
        </div>

        </div>



        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->


</div>

</div>