@import "src/@fuse/scss/fuse";

#dashboard-analytics {

    padding: 3%;

    .main-widget {
        display: flex;
        flex-direction: column;
    }

    .content {
        display: flex;
        flex: 1 1 auto;
        padding: 40px;
        min-width: 0;
        

        @include media-breakpoint('lt-lg') {
            flex-direction: column;
        }

        @include media-breakpoint('xs') {
           
            padding: 20px;
        }



     

        .left {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            min-width: 0;

            .widget {
                flex: 1 1 auto;
                min-width: 0;
            }
        }

        .right {
            display: flex;
            flex: 0 0 auto;
            width: 320px;
            min-width: 320px;
            max-width: 320px;
            margin-left: 3%;

            @include media-breakpoint('lt-lg') {
                flex: 1 0 100%;
                margin-top: 32px;
                width: 100%;
                min-width: 0;
                max-width: none;
            }

            @include media-breakpoint('xs') {
                margin-left: 3%;
            }

            .fuse-card {

              

                @include media-breakpoint('lt-lg') {
                    width: 100%;
                    min-width: 0;
                    max-width: none;
                    
                   
                }

            }




        }
    }

}

.card-container {

    padding: 24px !important;
    margin-bottom: 15px !important;
}

.fuse-card {
    max-width: 100% !important;

}

.card {

    margin-bottom: 5%;


    @include media-breakpoint('xs') {
        margin-bottom: 10%;
    }
    
}

.spinner-chat5 {
    display: flex !important;

    position: absolute !important;





    @include media-breakpoint('lt') {
        margin-left: 45% !important;
        /* margin-bottom: -4%; */
        margin-top: 5% !important;
        
       
    }

    @include media-breakpoint('xs') {
        margin-left: 40% !important;
        /* margin-bottom: -4%; */
        margin-top: 35% !important;
    }



}


.widget5 {

    margin-left: 15%;
}

.total {
    font-size: 24px;
}
.single-center {
    margin-left: 20%;
}

.day-fixed {

    margin: 5%;
    z-index: 100;
    position: absolute;

    @include media-breakpoint('xs') {
           
        margin: 20%;
        z-index: 100;
    }
    
}

.card-activity {
    padding: 1%;

    @include media-breakpoint('xs') {
           
        padding: 3%;

    }
}

.mat-datepicker-toggle-default-icon {
    color: #fff !important;
}

.baseChart {


    @include media-breakpoint('xs') {
           
      
    margin-left: -10% !important;

    height: 251px;
    width: 399px !important;

    }
}
