



<div id="dashboard-analytics" class="page-layout blank" >

<mat-spinner *ngIf="_analyticsDashboardService.loadingEvents"  diameter="100"></mat-spinner>


<div *ngFor="let e of _analyticsDashboardService.eventsArray" class="mat-card card mat-elevation-z4" [@animate]="{value:'*',params:{y:'100%'}}">

    <div class="main-widget auto-width"  >

        <div class="position-relative p-24"
        fxLayout="row" fxLayoutAlign="space-between center">
       <div fxLayout="column" fxLayoutAlign="start start">
           <span class="h1">{{ e.name }}</span>

           <span class="h4 text-bold secondary-text"> Invitados: {{ e.countInvited }}</span>

       </div>

       <button
       mat-button
       class="mr-8"
       [routerLink]="'/apps/e-commerce/products/'+e.id+'/'+e.handle"

       matTooltip="Ir a evento">
      Ir al evento 
</button>
   </div>



        <div class="position-relative p-24 blue-600"
             fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="start start">
                <span class="h2">Actividad emails</span>
                <span class="h5 secondary-text">Estados de respuesta</span>
            </div>

            <div fxLayout="column" fxLayoutAlign="start start">
                <span *ngIf="widget1SelectedYear === '2016'" class="h2">{{ e.widget1.toDay }}</span>

                <span *ngIf="widget1SelectedYear === '2017'" class="h2"> otro día..</span>
              
            </div>

           
            <div fxLayout="row" fxLayoutAlign="start center">
                <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                     (click)="widget1SelectedYear = '2016'"
                     [ngClass]="{'blue-700': widget1SelectedYear === '2016'}">
                   Hoy
                </div>
                <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                     (click)="widget1SelectedYear = '2017'"
                     [ngClass]="{'blue-700': widget1SelectedYear === '2017'}">
                     <mat-icon>event</mat-icon>
                </div>

            </div>

        
        </div>

        <div class="position-relative h-256 pb-16 blue-600">


            <canvas baseChart
            [datasets]="e.widget1.datasets[widget1SelectedYear]"
            [labels]="e.widget1.labels"
            [colors]="e.widget1.colors"
            [options]="e.widget1.options"
            [chartType]="e.widget1.chartType">

    </canvas>

        </div>

    </div>

    <div class="content">

        <div class="left mr-lg-32">

            <div class="pb-24 font-size-18 font-weight-300">

            <div class="pb-24 font-size-18 font-weight-300">
                Porcentajes y totales
            </div>

            <div fxLayout="column" fxLayoutAlign="start"
                 fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">

  

                          <!-- Widget 3 -->
                          <div class="widget" fxFlex="100" fxFlex.gt-sm="34">

                            <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
        
                                <div class="p-16 pb-0 single-center" fxLayout="row wrap" fxLayoutAlign="start end">
        
                                    <div class="pr-16">
                                        <div class="h3 secondary-text">Enviados</div>
                                        <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                                            100%
                                        </div>
                                    </div>
       
        
                                </div>
                                <div class="p-16 pb-0 single-center" fxLayout="row wrap" fxLayoutAlign="start end">
        
                                    <div class="pr-16">
                                      
                                        <div class="font-size-40 font-weight-300 line-height-1 mt-8">
                                            {{  _analyticsDashboardService.countAllInvited }}
                                        </div>
                                    </div>
       
        
                                </div>
        
                            </div>
        
                        </div>
                        <!-- / Widget 3 -->

                          <!-- Widget 3 -->
                          <div class="widget" fxFlex="100" fxFlex.gt-sm="34">

                            <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
        
                                <div class="p-16 pb-0 single-center" fxLayout="row wrap" fxLayoutAlign="start end">
        
                                    <div class="pr-16">
                                        <div class="h3 secondary-text">Abiertos</div>
                                        <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                                            20%
                                        </div>
                                    </div>
       
        
                                </div>
                                <div class="p-16 pb-0 single-center" fxLayout="row wrap" fxLayoutAlign="start end">
        
                                    <div class="pr-16">
                                      
                                        <div class="font-size-40 font-weight-300 line-height-1 mt-8">
                                            {{  _analyticsDashboardService.statusOpen.length }} 
                                        </div>
                                    </div>
       
        
                                </div>
        
                            </div>
        
                        </div>
                        <!-- / Widget 3 -->

                            <!-- Widget 3 -->
                            <div class="widget" fxFlex="100" fxFlex.gt-sm="34">

                                <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
            
                                    <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">
            
                                        <div class="pr-16 single-center">
                                            <div class="h3 secondary-text">Clicked</div>
                                            <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                                                90%
                                            </div>
                                        </div>
           
            
                                    </div>
                                    <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">
            
                                        <div class="pr-16 single-center">
                                          
                                            <div class="font-size-40 font-weight-300 line-height-1 mt-8">
                                                {{  _analyticsDashboardService.statusClicked.length }} 
                                            </div>
                                        </div>
           
            
                                    </div>
            
                                </div>
            
                            </div>
                            <!-- / Widget 3 -->

            </div>

            <!-- Widget 5 -->
            <div class="pt-48 pb-24 font-size-18 font-weight-300">
                Cuantos visitaron el sitio?
            </div>

            <div class="fuse-card auto-width">

                <div class="position-relative p-24"
                     fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="column" fxLayoutAlign="start start">
                        <span class="h2">Visitas realizadas</span>
                    </div>
                    
                    <!--
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                             (click)="widget5SelectedDay = 'yesterday'"
                             [ngClass]="{'accent': widget5SelectedDay === 'yesterday'}">
                            Yesterday
                        </div>
                        <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                             (click)="widget5SelectedDay = 'today'"
                             [ngClass]="{'accent': widget5SelectedDay === 'today'}">
                            Today
                        </div>
                    </div>

                -->
                </div>

                <div class="position-relative h-368 pb-16">
                    <canvas baseChart
                    [datasets]="e.widget5.datasets[widget5SelectedDay]"
                    [labels]="e.widget5.labels"
                    [colors]="e.widget5.colors"
                    [options]="e.widget5.options"
                    [chartType]="e.widget5.chartType">

            </canvas>
                </div>

            </div>
            <!-- / Widget 5 -->

 

        </div>

        <div class="right">

            <div fxLayout="row wrap" fxLayout.gt-md="column">

                <!-- Widget 7 -->
                <div class="mb-48" [ngClass.lt-lg]="'mr-32'" [ngClass.xs]="'mr-0'">

                    <div class="pb-24 font-size-18 font-weight-300">
                        Que respondieron a la invitación?
                    </div>

                    <div class="fuse-card">

                        <div class="p-16">
                            <div class="h1 font-weight-300"> Estados de participación </div>
                        </div>

                        <div class="h-200">


                         

                            <ngx-charts-pie-chart
                                *fuseIfOnDom
                                [scheme]="e.widget3.scheme"
                                [results]="e.widget3.devices"
                                [doughnut]="true">
                            </ngx-charts-pie-chart>
                        </div>

                        <div class="p-16" fxLayout="row" fxLayoutAlign="center center">

                            <div class="px-16" fxLayout="column" fxLayoutAlign="start center"
                            *ngFor="let d of e.widget3.devices">

                            <div class="h4 secondary-text">{{ d.name}}</div>
                            <div class="h2 font-weight-300 py-8">{{ d.value}}</div>

                                <div fxLayout="row" fxLayoutAlign="center center">
  

              
                                </div>

                            </div>

                        </div>

    

                    </div>

                </div>
                <!-- / Widget 7 -->

                <!-- 
                <div class="mb-48" [ngClass.lt-lg]="'mr-32'" [ngClass.xs]="'mr-0'">

                    <div class="pb-24 font-size-18 font-weight-300">
                        How are your sales?
                    </div>

                    <div class="fuse-card">

                        <div class="light-blue-600">

                            <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                                <div class="pr-16">
                                    <div class="h1 font-weight-300">Sales</div>
                                    <div class="h5 secondary-text">Lifetime sum of your sales</div>
                                </div>

                                <div>
                                    <button mat-icon-button [matMenuTriggerFor]="card19Menu" aria-label="more">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>

                                    <mat-menu #card19Menu="matMenu">
                                        <button mat-menu-item>
                                            <mat-icon>trending_up</mat-icon>
                                            <span>Trend</span>
                                        </button>
                                        <button mat-menu-item>
                                            <mat-icon>history</mat-icon>
                                            <span>History</span>
                                        </button>
                                        <button mat-menu-item>
                                            <mat-icon>notifications_off</mat-icon>
                                            <span>Disable alerts</span>
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>

                            <div class="p-16 pt-8" fxLayout="row" fxLayoutAlign="space-between end">
                                <div class="font-size-48 font-weight-300 line-height-1">{{widgets.widget8.today}}</div>
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon *ngIf="widgets.widget8.change.value > 0">trending_up</mat-icon>
                                    <mat-icon *ngIf="widgets.widget8.change.value < 0">trending_down</mat-icon>
                                    <div class="ml-8">{{widgets.widget8.change.value}}
                                        ({{widgets.widget8.change.percentage}}%)
                                    </div>
                                </div>
                            </div>

                        </div>

                        <mat-tab-group backgroundColor="accent">
                            <mat-tab label="1DAY">
                                <div class="h-200 my-16">
                                    <ngx-charts-line-chart
                                        *fuseIfOnDom
                                        [scheme]="widgets.widget8.scheme"
                                        [results]="widgets.widget8.data"
                                        [xAxis]="false"
                                        [yAxis]="true"
                                        [yScaleMin]="widgets.widget8.dataMin"
                                        [yScaleMax]="widgets.widget8.dataMax">
                                    </ngx-charts-line-chart>
                                </div>
                            </mat-tab>

                            <mat-tab label="1WEEK">
                                <div class="h-200 my-16">
                                    <ngx-charts-line-chart
                                        *fuseIfOnDom
                                        [scheme]="widgets.widget8.scheme"
                                        [results]="widgets.widget8.data"
                                        [xAxis]="false"
                                        [yAxis]="true"
                                        [yScaleMin]="widgets.widget8.dataMin"
                                        [yScaleMax]="widgets.widget8.dataMax">
                                    </ngx-charts-line-chart>
                                </div>
                            </mat-tab>

                            <mat-tab label="1MONTH">
                                <div class="h-200 my-16">
                                    <ngx-charts-line-chart
                                        *fuseIfOnDom
                                        [scheme]="widgets.widget8.scheme"
                                        [results]="widgets.widget8.data"
                                        [xAxis]="false"
                                        [yAxis]="true"
                                        [yScaleMin]="widgets.widget8.dataMin"
                                        [yScaleMax]="widgets.widget8.dataMax">
                                    </ngx-charts-line-chart>
                                </div>
                            </mat-tab>
                        </mat-tab-group>

                    </div>

                </div>

               -->

                <!-- 
                <div class="mb-48" [ngClass.lt-lg]="'mr-32'" [ngClass.xs]="'mr-0'">

                    <div class="pb-24 font-size-18 font-weight-300" [ngClass.lt-lg]="'pt-0'">
                        What are your top campaigns?
                    </div>

                    <div class="fuse-card">

                        <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="h1 pr-16">Top campaigns</div>

                            <div>
                                <button mat-icon-button [matMenuTriggerFor]="card20Menu" aria-label="more">
                                    <mat-icon>more_vert</mat-icon>
                                </button>

                                <mat-menu #card20Menu="matMenu">
                                    <button fxLayout="row" fxLayoutAlign="start center" mat-menu-item>
                                        <mat-icon color="accent">check_box</mat-icon>
                                        <span>Show Clicks</span>
                                    </button>
                                    <button fxLayout="row" fxLayoutAlign="start center" mat-menu-item>
                                        <mat-icon color="accent">check_box</mat-icon>
                                        <span>Show Conversion</span>
                                    </button>
                                    <button fxLayout="row" fxLayoutAlign="start center" mat-menu-item>
                                        <mat-icon>check_box_outline_blank</mat-icon>
                                        <span>Show CPC</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>

                        <table class="simple clickable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="text-right">Clicks</th>
                                    <th class="text-right">Conv</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of widgets.widget9.rows">
                                    <td>{{row.title}}</td>
                                    <td class="text-right">{{row.clicks}}</td>
                                    <td class="text-right">{{row.conversion}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="card-divider full-width"></div>

                        <div class="p-8 pt-16" fxLayout="row" fxLayoutAlign="start center">
                            <button mat-button color="accent">GO TO CAMPAIGNS</button>
                        </div>

                    </div>

                </div>
            -->

            </div>

        </div>

    </div>

</div>

</div>
















