@import "src/@fuse/scss/fuse";

#dashboard-analytics {

    .main-widget {
        display: flex;
        flex-direction: column;
    }

    .content {
        display: flex;
        flex: 1 1 auto;
        padding: 80px;
        min-width: 0;
        margin-top: -6%;

        @include media-breakpoint('lt-lg') {
            flex-direction: column;
        }

        @include media-breakpoint('xs') {
            margin-top: -15%;
            padding: 20px;
        }

        @include media-breakpoint('lt-md') {
            margin-top: -10%;
        }

     

        .left {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            min-width: 0;

            .widget {
                flex: 1 1 auto;
                min-width: 0;
            }
        }

        .right {
            display: flex;
            flex: 0 0 auto;
            width: 320px;
            min-width: 320px;
            max-width: 320px;
            margin-left: 9%;

            @include media-breakpoint('lt-lg') {
                flex: 1 0 100%;
                margin-top: 32px;
                width: 100%;
                min-width: 0;
                max-width: none;
            }

            @include media-breakpoint('xs') {
                margin-left: 3%;
            }

            .fuse-card {

              

                @include media-breakpoint('lt-lg') {
                    width: 100%;
                    min-width: 0;
                    max-width: none;
                    
                   
                }

            }
            


        }
    }

}

.card-container {

    padding: 24px !important;
    margin-bottom: 15px !important;
}

.fuse-card {
    max-width: 100% !important;

}

.card {

    margin-bottom: 5%;


    @include media-breakpoint('xs') {
        margin-bottom: 10%;
    }
    
}
