<div id="dashboard-analytics" class="page-layout carded fullwidth inner-scroll">
  

    <div class="center" fusePerfectScrollbar>

        <!-- TOP BACKGROUND -->
        <div class="top-bg accent"></div>
        <!-- / TOP BACKGROUND -->
                    
        <div fxLayout="row" fxLayoutAlign="space-between start">

            <span class="h1 my-0 my-sm-24 welcome-message"
                  [@animate]="{value:'*',params:{x:'50px'}}">Resumen de eventos
            </span>

        </div>

        <!-- CENTER -->
        <div class="center">

    
            <div class="widget-group margin-card" fxLayout="row wrap" fxFlex="150" *fuseIfOnDom>

                

                <!-- WIDGET 1 -->

                <mat-spinner class="spinner-fab" *ngIf="_analyticsDashboardService.loadingEvents"  diameter="50"></mat-spinner>

    
                <div class="margin-cards" *ngFor="let e of _analyticsDashboardService.eventsArray">
    
    
                    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
                        fxFlex.gt-xs="100" fxFlex.gt-md="100">
                        <!-- PREVIEW -->
                        <div class="card-preview">
    
                            <div class="fuse-card">
    

                                <div>
    
                                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                                        <div class="pr-16">
                                            <span class="h2">{{e.name}}</span>
                                            <div class="h4 text-bold secondary-text"> {{ e.company }}</div>
    
                                        </div>
    
                                        <div>

                                            <!--
                                            <button mat-icon-button [matMenuTriggerFor]="card19Menu" aria-label="more">
                                                <mat-icon>more_vert</mat-icon>
                                            </button>
    
                                            <mat-menu #card19Menu="matMenu">
                                                
                                            <button mat-menu-item (click)="openEditor(c)" >
                                                <mat-icon>edit</mat-icon>
                                                <span>Editar</span>
                                            </button>
                                         

                                                <button mat-menu-item  >
                                                <mat-icon>file_copy</mat-icon>
                                                <span>Duplicar</span>
                                            </button>
                                            
                                            </mat-menu>

                                        -->
                                        </div>

                                        <button
                                        mat-button
                                        class="mr-8"
                                        [routerLink]="'/apps/e-commerce/products/'+e.id+'/'+e.handle"
     
                                        matTooltip="Ir a evento">
                                       Ir al evento 
                                </button>
                                    </div>


    
                                </div>
    
                                            
                                <div class="h-200">
                                    <ngx-charts-pie-chart
                                        *fuseIfOnDom
                                        [scheme]="e.scheme"
                                        [results]="e.devices"
                                        [doughnut]="true">
                                    </ngx-charts-pie-chart>
                                </div>
        
                                <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
        


                                    <div class="px-16" fxLayout="column" fxLayoutAlign="start center"
                                    *ngFor="let d of e.devices"
                                    >
        
                                    <div class="h4 secondary-text">{{d.name}}</div>
                                    <div class="h2 font-weight-300 py-8">{{d.value}}</div>

        
                                </div>
        
                                </div>
    
  

         <div class="auto-width">

                <div class="position-relative p-24"
                     fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="column" fxLayoutAlign="start start">
                        <span class="h2">Aperturas y visitas</span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">

                        <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                             (click)="widget5SelectedDay = 'today'"
                             [ngClass]="{'accent': widget5SelectedDay === 'today'}">
                            Semana
                        </div>
                    </div>
                </div>

                <div class="position-relative h-368 pb-16">
                    <canvas baseChart
                            [datasets]="widgets.widget5.datasets[widget5SelectedDay]"
                            [labels]="widgets.widget5.labels"
                            [colors]="widgets.widget5.colors"
                            [options]="widgets.widget5.options"
                            [chartType]="widgets.widget5.chartType">
                    </canvas>
                </div>

            </div>
    
                            </div>
    

                        </div>
                        <!-- / PREVIEW -->
    
    
                    </fuse-widget>
                   
                </div>
    
                <div>
    
    

                </div>
                    
                <div>
    
                </div>

                    
                <div>
    

                </div>
            </div>
            <!-- / WIDGET GROUP -->
    
    
            <!-- / CONTENT CARD -->
        </div>
        <!-- / CENTER -->
    </div>
 