<div *ngIf="_formInvitationService.loadingPage" id="lock" fxLayout="column">

    <div id="lock-form-wrapper" fxLayout="column" fxLayoutAlign="center center">






        <div *ngIf="_formInvitationService.eventLoad" id="lock-form"
            [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">


            <div id="wrapper">

                <header>

                    <div class="header" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
                        fxLayoutAlign.gt-sm="space-between end">
                        <img class="img-banner" [src]="_formInvitationService.event.imgBanner">



                    </div>

                </header>

            </div>





            <div class="form-card">


                <div class="lock-form-header" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
                    fxLayoutAlign.gt-xs="start center">

                    <div>
                        <div class="title">{{ _formInvitationService.campaignName }}</div>
                        <div class="date">{{ _formInvitationService.event.dateEvent | date:"fullDate" }}</div>

                        <div class="subtitle">
                            {{ _formInvitationService.event.company }}
                        </div>
                    </div>

                </div>

                <form class="form-invitation " name="lockForm" [formGroup]="invitationForm" novalidate>

                    <div formArrayName="inputSelection">

                        <div *ngFor="let f of formDataInputs.controls; index as i" [formGroupName]="i">


                            <mat-form-field appearance="outline">
                                <mat-label *ngIf="f.value.required">{{ f.value.title }} *</mat-label>

                                <mat-label *ngIf="!f.value.required">{{ f.value.title }} </mat-label>
                                <input matInput formControlName="value" [type]="f.value.type"
                                    (change)="getDataInvited()">

                                <mat-error>
                                    {{ getMesaggeErrorTitle(i, f.value.title, f.value.value) }}
                                </mat-error>
                            </mat-form-field>



   


                        </div>

                        <div *ngIf="!_formInvitationService.invitedExist">

                            <button mat-raised-button (click)="confirmInvitation()"
                                class="submit-button  mt-24 mt-md-0" color="accent">
                                <mat-icon matSuffix>done</mat-icon>
                                ¡REGISTARME!
                            </button>

                        </div>

                        <div *ngIf="_formInvitationService.invitedExist">


                            <button mat-raised-button (click)="confirmInvitation()"
                                class="submit-button  mt-24 mt-md-0" color="accent">
                                <mat-icon matSuffix>done</mat-icon>
                                CONFIRMAR MI ASISTENCIA
                            </button>


                            <button mat-button (click)="cancelInvitation()" class="cancel-button">
                                <mat-icon matSuffix>cancel</mat-icon>
                                CANCELAR
                            </button>


                        </div>
                    </div>
                </form>




            </div>

            <!--


          
            <div class="message">
                <a class="link" [routerLink]="'/pages/auth/login'">Are you not Katherine?</a>
            </div>
  -->
        </div>



    </div>

</div>