<div id="reset-password" fxLayout="column">

    <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="reset-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/turevento.png">
            </div>

            <div *ngIf="!passwordReset">

         
            <div class="title">RESTABLECER CONTRASEÑA</div>

            <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>


                <mat-form-field appearance="outline">
                    <mat-label>Nueva contraseña</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        {{ getMesaggeErrorPassword() }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Nueva contraseña (Confirmar)</mat-label>
                    <input matInput type="password" formControlName="passwordConfirm">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
                        Contraseña de confirmación es requerida
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForm.get('passwordConfirm').hasError('required') &&
                                       resetPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        Contraseñas no coinciden
                    </mat-error>
                </mat-form-field>

                <button  *ngIf="!loading"mat-raised-button class="submit-button" color="accent"
                        aria-label="RESET MY PASSWORD" [disabled]="resetPasswordForm.invalid"
                        (click)="resetPassword()">
                    RESTABLECER MI CONTRASEÑA
                </button>

                <div *ngIf="loading" class="spinner-loading" fxLayoutAlign="center center">
                        <mat-spinner diameter="35"></mat-spinner>
                    </div>             

            </form>

        </div>



        <div *ngIf="passwordReset"  fxLayout="column" fxLayoutAlign="center center">
                <div class="title">CONTRASEÑA CAMBIADA!</div>
                <a class="link" [routerLink]="'/pages/auth/login'">Volver a ingresar</a>
            </div>
   
        </div>

    </div>

</div>
