#product {

    .header {

        .product-image {
            overflow: hidden;
            min-width: 56px;
            height: 56px;
            min-height: 56px;
            max-height: 56px;
            border-radius: 4px;

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        .subtitle {
            margin: 6px 0 0 0;
        }
   
    }
    .accent-btn {
        padding: 2%;
    }

    .content {

        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content{
            flex: 1 1 auto;
            max-width: 100%;
        }

        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-label {
            height: 64px;
        }

        .product-image {
            overflow: hidden;
            width: 100%;
            height: 128px;
            margin-right: 16px;
            margin-bottom: 16px;
            border-radius: 4px;

            img {
                height: 100%;
                width: 100%;
                max-width: none;
            }
        }

        // Temporary prefix alignment fix
        .mat-form-field-appearance-outline .mat-form-field-prefix,
        .mat-form-field-appearance-outline .mat-form-field-suffix {
            top: 0;
        }
    }

    .mat-icon-form {
        color: rgba(0, 0, 0, 0.54);
    }
    .icon-users{
        max-width: 50%;
    }


    form {
        width: 100%;
        max-width: 800px !important;
    }

    .form-errors-model {
        flex: 1;
        max-width: 800px !important;

        code {
            background: none !important;
        }
    }

    .inv-card {
        text-align: center;
        max-width: 0px;
        min-width: 100%;
        border-radius: 8px;
        border: 1px solid;
        border-color: rgba(0, 0, 0, 0.12)
}

.count {

    overflow: hidden;
    width: 100%;
}
        


 
}
