

<div id="product" class="page-layout simple fullwidth" fxLayout="column">

    <!-- HEADER -->
    <div class="header accent accent-btn" fxLayout="row" fxLayoutAlign="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/e-commerce/products'">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <div class="product-image-icon mr-8 mr-sm-16" >
                <img *ngIf="product.images[0]" [src]="product.images[0].url">
                <img *ngIf="!product.images[0]" [src]="'assets/images/add_event_white.png'">
            </div>

            <div fxLayout="column" fxLayoutAlign="start start"
               >
                <div class="h2" *ngIf="pageType ==='edit'">
                    {{product.eventName}}
                </div>
                <div class="h2" *ngIf="pageType ==='new'">
                    Nuevo Evento
                </div>
                <div class="subtitle secondary-text">
                    <span>Evento Detalle</span>
                </div>
            </div>
        </div>
        <!-- / APP TITLE -->

        <button mat-raised-button class="save-product-button" [disabled]="productForm.invalid" *ngIf="pageType ==='new'"
            (click)="addProduct()">
            <span>CREAR</span>
        </button>

        <button mat-raised-button class="save-product-button" [disabled]="(productForm.invalid || productForm.pristine ) && (!removeTag  && !uploadFile)"
            *ngIf="pageType ==='edit'" (click)="saveProduct(true)">
            <span>GUARDAR</span>
        </button>
    </div>
    <!-- / HEADER -->


    <!-- CONTENT -->
    <div class="content p-24">


        <div class="mb-24" class="content-steper mat-card mat-elevation-z4" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">

            <!-- REACTIVE FORM EXAMPLE -->


            <div>

                <!-- HORIZONTAL STEPPER EXAMPLE -->

                
                <mat-tab-group mat-align-tabs="start" (selectedTabChange)="onClickTab($event)" [selectedIndex]="selectedIndex">
                    <mat-tab label="General">

                       

                        <form class="form-custom mr-24 form-margin" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
                        name="productForm" [formGroup]="productForm">

                        <div class="h2 mb-16">Ingrese información general</div>

                        <mat-form-field appearance="outline" fxFlex  fxFlex="100" class="pl-4" class="container">
                            <mat-label>Imagen</mat-label>
                            <input name="imgTitle" formControlName="imgTitle" matInput>
                            <mat-icon matSuffix class="secondary-text">
                            
                                    <input hidden  id="fileUpload" type="file"  #fileInput   />
                    
                                    <button mat-fab  (click)="fileUpload()"  class="button fuse-white mt-24 mt-md-0">
                                        <mat-icon>add_photo_alternate</mat-icon>
                                    </button>
                            
                            </mat-icon>
                        </mat-form-field>


                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Nombre evento</mat-label>
                                <input matInput placeholder="Convocatoria nombre" name="name" formControlName="name"
                                    required>
                            </mat-form-field>

                        </div>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" fxFlex="100">
                                <mat-label>Empresa</mat-label>
                                <input matInput formControlName="company">
                                <mat-icon class="mat-icon-company" matSuffix>domain</mat-icon>
                            </mat-form-field>


                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" fxFlex="100">
                                <mat-label>Descripción</mat-label>
                                <textarea matInput placeholder="descripción del evento" name="description"
                                    formControlName="description" rows="5">
                                                  </textarea>
                            </mat-form-field>

                        </div>

                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                  

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Dirección</mat-label>
                                <input matInput placeholder="Dirección" name="address" formControlName="address">
                                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                            </mat-form-field>

            
                            <mat-form-field appearance="outline" floatLabel="always" fxFlex="100" class="w-100-p">

                                <mat-label>Fecha evento</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="date">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>

                            </mat-form-field>


                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">

                                <mat-label>Tags</mat-label>

                                <mat-chip-list #tagList >

                                    <mat-chip *ngFor="let tag of product.tags" [removable]="true"
                                        (removed)="removeDetected(tag)" >
                                        {{tag}}
                                        <mat-icon matChipRemove>cancel</mat-icon>
                                    </mat-chip>

                                    <input name="tags"  formControlName="tags"
                                    [matChipInputFor]="tagList" [matChipInputAddOnBlur]="true"
                                        (matChipInputTokenEnd)="product.addTag($event)" />

                                </mat-chip-list>

                            </mat-form-field>

                     <div class="slide-bottom w-100-p">
                        <mat-slide-toggle [checked]="true" formControlName="active">Evento abierto</mat-slide-toggle>
                     </div>



                        </div>

            

                    </form>

                    </mat-tab>
                    <mat-tab label="Invitados" [disabled]='!isCreated'>

                        <div  fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
                      
                        <contacts></contacts>

                
            
                     
    
                        </div>
    
                        
                    </mat-tab>
                    <mat-tab label="Campañas" [disabled]='!isCreated'>
                        

                        <div  fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">

                                        <products-campaigns></products-campaigns>

    
                        </div>


                    </mat-tab>

                    <mat-tab label="Usuarios" [disabled]='!isCreated'>


                        <div  fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">

                                      <academy-courses></academy-courses>
                                        

                        </div>
                </mat-tab>
                  </mat-tab-group>



                  <div  class="btn-navigate-tabs">

                    <button *ngIf="btnNavigateStep()" [disabled]="!btnNavigateStep"  (click)="previousStep()" class="mr-8 w-100-p " mat-raised-button type="button"
                    color="default">
                   
                    Anterior
                    <mat-icon>chevron_left</mat-icon>
                </button>



                    <div *ngIf="btnNavigateNextStep()">

        
                  
                  <button *ngIf="(isCreated && productForm.pristine) && (!removeTag && !uploadFile )" class="mr-8 w-100-p" mat-raised-button  type="button"
                  (click)="nextStep()"
                  color="accent">
                  Siguiente

                  <mat-icon>chevron_right</mat-icon>
              </button>

                  <button *ngIf="pageType ==='new'" [disabled]="productForm.invalid"  (click)="addProduct(true)" class="mr-8 w-100-p" mat-raised-button type="button"
                  color="accent">
                  Crear
                  <mat-icon>save</mat-icon>
              </button>

                  <button *ngIf="(pageType ==='edit' && !productForm.pristine) || (removeTag || uploadFile)" (click)="saveProduct(true)" class="mr-8 w-100-p" mat-raised-button  type="button"
                      color="accent">
                      Siguiente 
                      <mat-icon>save</mat-icon>
                  </button>

                </div>

     

               
                </div>

            </div>


            <!-- / REACTIVE FORM EXAMPLE -->


        </div>



    </div>

    <!--
    <div class="mb-24" fxLayout="column" fxLayoutAlign="start" *ngIf="isCreated">

        <button mat-button (click)="eventDelete()" color="warn">Eliminar evento
            <mat-icon>delete_forever</mat-icon>
        </button>

    </div>

-->
    <!-- / CONTENT -->

</div>

