#product {

    .header {

        .product-image-icon {
            overflow: hidden;
            min-width: 56px;
            height: 56px;
            min-height: 56px;
            max-height: 56px;
            border-radius: 4px;

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        .subtitle {
            margin: 6px 0 0 0;
        }
   
    }
    .accent-btn {
        padding: 2%;
    }

    .content {

        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content{
            flex: 1 1 auto;
            max-width: 100%;
        }

        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-label {
            height: 64px;
        }



        // Temporary prefix alignment fix
        .mat-form-field-appearance-outline .mat-form-field-prefix,
        .mat-form-field-appearance-outline .mat-form-field-suffix {
            top: 0;
        }
    }

    .mat-icon-form {
        color: rgba(114, 114, 114, 0.54);
    }
    .icon-users{
        max-width: 50%;
    }

    .mat-icon-company {
        color: #828282;
    }


    form {
        width: 100%;
        max-width: 800px !important;
    }

    .form-errors-model {
        flex: 1;
        max-width: 800px !important;

        code {
            background: none !important;
        }
    }

    .inv-card {
        text-align: center;
        max-width: 0px;
        min-width: 100%;
        border-radius: 8px;
        border: 1px solid;
        border-color: rgba(0, 0, 0, 0.12)
}

.count {

    overflow: hidden;
    width: 100%;
}
        


 
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .product-image {
        overflow: hidden;
        min-width: 56px;
        height: 56px;
        min-height: 200px;
        max-height: 56px;
        border-radius: 4px;

        .company-img {
            height: 100%;
            width: 100%s;
            max-width: none;
        }
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .product-image {
        overflow: hidden;
        min-width: 56px;
        height: 56px;
        min-height: 170px;
        max-height: 56px;
        border-radius: 4px;

        .company-img {
            height: 100%;
            width: 100%s;
            max-width: none;
        }
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .product-image {
        overflow: hidden;
        min-width: 56px;
        height: 56px;
        min-height: 170px;
        max-height: 56px;
        border-radius: 4px;

        .company-img {
            height: 100%;
            width: 100%s;
            max-width: none;
        }
    }
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .product-image {
        overflow: hidden;
        min-width: 56px;
        height: 56px;
        min-height: 170px;
        max-height: 56px;
        border-radius: 4px;

        .company-img {
            height: 100%;
            width: 100%s;
            max-width: none;
        }
    }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .product-image {
        overflow: hidden;
        min-width: 56px;
        height: 56px;
        min-height: 150px;
        max-height: 56px;
        border-radius: 4px;

        .company-img {
            height: 100%;
            width: 100%s;
            max-width: none;
        }
    }

}
