<div id="error-500" fxLayout="column" fxLayoutAlign="center center">

    <div class="content" fxLayout="column" fxLayoutAlign="center center">

        <!-- <div class="name-campaign"> {{ confirmInvitationService.campaignInvitation.affair }} </div> -->
        <div class="name-campaign">
            {{  confirmInvitationService.campaignInvitation.affair }}<br>
            <div *ngIf="confirmInvitationService.eventload" class="date">{{ confirmInvitationService.event.dateEvent | date:"fullDate" }}</div>

            Catedral Metropolina.</div>
        <div class="message">{{  confirmInvitationService.campaignInvitation.messageConfirm }}</div>
        <div class="message">Muchas gracias.</div>
        <!-- <a class="report-link" href="http://www.turevento.net/">turEvento.net</a>-->

    </div>

</div>
