@import "src/@fuse/scss/fuse";

lock {

    #lock {
        width: 100%;
     
        background-size: cover;

        #lock-form-wrapper {
            flex: 1 0 auto;
            padding: 32px;

            @include media-breakpoint('xs') {
                padding: 16px;
            }

            #lock-form {
                border-radius: 3%;
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 100%;
                //padding: 0px 32px 32px 32px;
                @include mat-elevation(16);

                @include media-breakpoint('xs') {
                 
                    width: 100%;
                }

                .lock-form-header {
                    display: flex;
                    flex: 1 0 auto;
                    padding-left: 3%;
                    padding-right: 3%;

                    .avatar-container {
                        position: relative;
                        margin-right: 16px;

                        .avatar {
                            margin: 0;
                        }

                        @include media-breakpoint('xs') {
                            margin-right: 0;
                        }

                        mat-icon {
                            position: absolute;
                            bottom: -2px;
                            right: -6px;
                        }
                    }

                    .title {
                        font-size: 20px;
                        margin-bottom: 8px;

                        @include media-breakpoint('xs') {
                            margin-top: 16px;
                            text-align: center;
                        }
                    }

                    .date {
                        font-size: 16px;
                        margin-bottom: 8px;

                        @include media-breakpoint('xs') {
                            margin-top: 13px;
                            text-align: center;
                        }
                    }

                    .subtitle {

                        @include media-breakpoint('xs') {
                            text-align: center;
                        }
                    }
                }

                form {
                    width: 100%;
                    margin: 32px 0 0 0;

                    mat-form-field {
                        width: 100%;
                    }

                    .submit-button {
                        width: 100%;
                        margin: 16px auto;
                        display: block;

                        @include media-breakpoint('xs') {
                            width: 90%;
                        }
                    }

                    .cancel-button {

width: 100%;
margin: 16px auto;
display: block;

@include media-breakpoint('xs') {
    width: 90%;
}

}
                }

                .message {
                    font-weight: 600;
                    text-align: center;
                }
            }
        }
    }
}


.form-invitation {
    padding-left: 3%;
    padding-right: 3%;
}

.form-card {
    max-width: 100%;
    min-width: 100%;
    border-radius: 8px;
    margin-bottom: 3%;
}

.img-banner {
    width: 100%;
    border-radius: 3%;
}



#profile {

    .header {

       
        background-size: cover;


        .name {
            font-size: 34px;
            color: #FFFFFF;

            @include media-breakpoint('sm') {
                margin-bottom: 32px;
            }
        }

        .actions {

            button {
                text-transform: none;
                padding: 0 16px;
                margin: 0 0 0 8px;
            }
        }
    }

    .content {
        flex: 1;

        mat-tab-group {
            height: 100%;

            .mat-tab-body-wrapper {
                flex-grow: 1;
            }
        }
    }
}

.layout-invitation{
        height: 150px;
        min-height: 200px;
        max-height: 200px;

        @include media-breakpoint('xs') {

            min-height: 60px;
            max-height: 60px;
        }

        @include media-breakpoint('sm') {
            min-height: 100px;
            max-height: 100px;
        }
}


#wrapper {
    margin: 0 auto;
    width: 100%;
   
  }
  
  header {
    
    margin-bottom: 2%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    line-height: 2.8em;

    
    @include media-breakpoint('xs') {

        height: 130px;
    }

    @include media-breakpoint('sm') {
        height: 260px;
    }


  }

  .example-chip-list {
    width: 100%;
  }