// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";



contacts-contact-list .mat-table .mat-row .mat-cell {
    min-width: 80px !important;
}


.my-class .mat-dialog-container {
    width: 300px !important;
    padding: 0px;
}

.my-class-add .mat-dialog-container {
    width: 1200px !important;
    padding: 0px;
}

.my-class-send .mat-dialog-container {
    width: 600px !important;
    padding: 0px;


    @include media-breakpoint('xs') {
        height: -1px !important;
    }
    
}

.my-class-contact-list .mat-dialog-container {
    width: 100% !important;
    height: 300px !important;
    padding: 0px;
}


  .mat-progress-bar-buffer {
    background-color: #f0f1f0!important;
  }








