// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";



contacts-contact-list .mat-table .mat-row .mat-cell {
    min-width: 80px !important;
}



.my-class .mat-dialog-container {
    width: 600px !important;
}

.my-class-add .mat-dialog-container {
    width: 1200px !important;
    padding: 0px;
}

.my-class-send .mat-dialog-container {
    width: 600px !important;
    height: 300px !important;
    padding: 0px;
    
}

.my-class-contact-list .mat-dialog-container {
    width: 100% !important;
    height: 300px !important;
    padding: 0px;
}


.mat-progress-bar-fill::after {
    background-color: #00bb2e !important;

  }

  .mat-progress-bar-buffer {
    background-color: #f0f1f0!important;
  }








