// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";


.custom-dialog-container .mat-dialog-container{
    padding: 24px !important
}


contacts-contact-list .mat-table .mat-row .mat-cell {
    min-width: 60px !important;
}

.ql-editor {

    height: 800px !important;

}
