<div id="contact-list" class="page-layout-campaign carded fullwidth inner-scroll">

    <div class="center" fusePerfectScrollbar>
    <!-- HEADER -->
    <div class="header accent" fxLayout="column" fxLayoutAlign="start"
         fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">



         <div class=" icon-lg ml-sm-32 " fxLayout="row" fxLayoutAlign="center center">


            <mat-icon class="logo-icon mr-24"
            >group_add
   </mat-icon>
       

    </div>


   
        <!-- / APP TITLE -->

        <!-- SEARCH -->
        <div class="ml-sm-32 " fxLayout="row" fxLayoutAlign="center center" >
            <div class="ml-sm-32 icon-xs" fxLayout="row" fxLayoutAlign="center center">
           

        </div>


            <div class="search-wrapper mt-16 mt-sm-0">


                <div class="search" fxFlex="100" fxLayout="row" fxLayoutAlign="start center">

                    
                    <mat-icon>search</mat-icon>
                    <input [formControl]="searchInput" placeholder="Buscar invitado">
                </div>

            </div>

        </div>
        <!-- / SEARCH -->
          <!-- SELECTED BAR -->
          <selected-bar class="accent-600" *ngIf="hasSelectedContacts" [@slideInTop]></selected-bar>
          <!-- / SELECTED BAR -->
          
  
    </div>
    <!-- / HEADER -->


 <!-- CENTER -->
   


 
 

<div  class="content-card"
[ngClass]="{
    'table-hidden': _contactsService.contacts.length === 0,
    'table-contacts-visible': _contactsService.contacts.length > 0  }">


<mat-table  class="table-invited"
        #table [dataSource]="dataSource"
        matSort
        [@animateStagger]="{value:'50'}"
        fusePerfectScrollbar>
    <!-- Checkbox Column -->


    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef>  <!-- <mat-spinner *ngIf="_contactsService.loadingContact"  diameter="35"></mat-spinner>  --> </mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <mat-checkbox [(ngModel)]="checkboxes[contact.id]" (ngModelChange)="onSelectedChange(contact.id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>



    <ng-container matColumnDef="company">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Empresa</mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <p class="text-truncate font-weight-600">{{contact.company}} </p>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <p class="text-truncate font-weight-600">{{contact.name}}</p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastname">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs >Apellido</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-xs>
            <p class="text-truncate font-weight-600">{{contact.lastname}} </p>
        </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm mat-sort-header>Email</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{contact.email}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs mat-sort-header>Teléfono</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-xs>
            <p class="phone text-truncate">
                {{contact.phone}}
            </p>
        </mat-cell>
    </ng-container>


    <ng-container matColumnDef="contact">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Contactado</mat-header-cell>
        <mat-cell *matCellDef="let contact"  >
            <mat-icon *ngIf="contact.contactado === 'phone' " class="active-icon green-600 s-20">phone</mat-icon>
            <mat-icon *ngIf="contact.contactado === 'email' " class="active-icon green-500 s-20">alternate_email</mat-icon>

            <mat-icon *ngIf="contact.contactado === 'null' " class="active-icon blue-500 s-20">pause_circle_outline</mat-icon>

            
        </mat-cell>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="asiste" >
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Asiste</mat-header-cell>
        <mat-cell *matCellDef="let contact"  >
            <mat-icon *ngIf="contact.asiste === 'si' " class="active-icon green-600 s-20">check</mat-icon>
            <mat-icon *ngIf="contact.asiste === 'no' " class="active-icon red-500 s-20">close</mat-icon>

            <mat-icon *ngIf="contact.asiste === 'null' " class="active-icon blue-500 s-20">pause_circle_outline</mat-icon>

            
        </mat-cell>
    </ng-container>


    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <div fxFlex="row" fxLayoutAlign="end center">

                <!--

               
                <button mat-icon-button (click)="$event.stopPropagation();toggleStar(contact.id)" aria-label="Toggle star">
                    <mat-icon class="amber-fg" >star</mat-icon>
                    <mat-icon class="secondary-text" >star_border</mat-icon>
                </button>
 -->
                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deleteContact(contact)">
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar</span>
                    </button>

                    <button mat-menu-item aria-label="remove" (click)="duplicateContact(contact)">
                        <mat-icon>file_copy</mat-icon>
                        <span>Duplicar</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let contact; columns: displayedColumns;"
             class="contact"
             (click)="editContact(contact)"
             [ngClass]="{'accent-50':checkboxes[contact.id]}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>



</mat-table>



<mat-paginator #paginator
class="paginator-left"
[length]="dataSource.filteredData.length"
[pageIndex]="0"
[pageSize]="25">
</mat-paginator>

</div>



<div *ngIf="_contactsService.contacts.length === 0 " class="empty-card-inv">

       
        <img class="empty-inv" src="assets/images/listEmptyCut.png">

    </div>




</div>

</div>