<div id="contact-list" class="page-layout-campaign page-margin fullwidth inner-scroll">

    <div class="center">
        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">



            <div class=" icon-lg ml-sm-32 " fxLayout="row" fxLayoutAlign="center center">


                <mat-icon class="logo-icon mr-24">account_box
                </mat-icon>


            </div>



            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="ml-sm-32 " fxLayout="row" fxLayoutAlign="center center">
                <div class="ml-sm-32 icon-xs" fxLayout="row" fxLayoutAlign="center center">


                </div>


                <div class="search-wrapper mt-16 mt-sm-0">


                    <div class="search" fxFlex="100" fxLayout="row" fxLayoutAlign="start center">


                        <mat-icon>search</mat-icon>
                        <input [formControl]="searchInput" placeholder="Buscar invitado">
                    </div>

                </div>

            </div>
            <!-- / SEARCH -->
            <!-- SELECTED BAR -->
            <selected-bar class="accent-600" *ngIf="hasSelectedContacts" [@slideInTop]></selected-bar>
            <!-- / SELECTED BAR -->


        </div>
        <!-- / HEADER -->


        <!-- CENTER -->






        <div [ngClass]="{
    'table-hidden': _contactsService.contacts.length === 0,
    'table-contacts-visible': _contactsService.contacts.length > 0  }">


            <mat-table class="table-invited" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
                fusePerfectScrollbar>
                <!-- Checkbox Column -->


                <ng-container [matColumnDef]="column.name"
                    *ngFor="let column of _contactsService.initColumns; index as i" >

                    <span>
                        <mat-header-cell  *matHeaderCellDef mat-sort-header [fxHide.xs]="column.export">{{column.title}}</mat-header-cell>
                        <mat-cell *matCellDef="let element" [fxHide.xs]="column.export">

                            <span *ngIf="column.checkbox">
                                <mat-checkbox [(ngModel)]="checkboxes[element._id]"
                                    (ngModelChange)="onSelectedChange(element._id)" (click)="$event.stopPropagation()">
                                </mat-checkbox>

                            </span>

                            <span *ngIf="column.export">

                                {{ element.dataImport[0][column.name] }}
          
            </span>
        

            <span *ngIf="column.contact">
            <mat-icon *ngIf="element[column.name] === 'phone' " class="active-icon green-600 s-20">phone</mat-icon>
            <mat-icon *ngIf="element[column.name] === 'email' " class="active-icon green-500 s-20">alternate_email</mat-icon>
    
            <mat-icon *ngIf="element[column.name] === 'null' " class="active-icon blue-500 s-20">pause_circle_outline</mat-icon>

        </span>


        <span *ngIf="column.asiste">
        <mat-icon *ngIf="element[column.name] === 'si' " class="active-icon green-600 s-20">check</mat-icon>
        <mat-icon *ngIf="element[column.name] === 'no' " class="active-icon red-500 s-20">close</mat-icon>

        <mat-icon *ngIf="element[column.name] === 'null' " class="active-icon blue-500 s-20">pause_circle_outline</mat-icon>

    </span>

    <div *ngIf="column.buttons" fxFlex="row"  fxFlex="50" fxLayoutAlign="end center">

        <!--

       
        <button mat-icon-button (click)="$event.stopPropagation();toggleStar(contact.id)" aria-label="Toggle star">
            <mat-icon class="amber-fg" >star</mat-icon>
            <mat-icon class="secondary-text" >star_border</mat-icon>
        </button>
-->
        <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                (click)="$event.stopPropagation();">
            <mat-icon class="secondary-text">more_vert</mat-icon>
        </button>

        <mat-menu #moreMenu="matMenu">
            <button mat-menu-item aria-label="remove" (click)="deleteContact(element)">
                <mat-icon>delete</mat-icon>
                <span>Eliminar</span>
            </button>

            <button mat-menu-item aria-label="remove" (click)="duplicateContact(element)">
                <mat-icon>file_copy</mat-icon>
                <span>Duplicar</span>
            </button>
        </mat-menu>
    </div>

        </mat-cell>


    </span>


 


   
      </ng-container>





    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>


    

    
    <mat-row *matRowDef="let contact; columns: displayedColumns;"
             class="contact"
             (click)="editContact(contact)"
             [ngClass]="{'accent-50':checkboxes[contact._id]}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
                                </mat-row>




            </mat-table>



            <mat-paginator #paginator class="paginator-left" [length]="dataSource.filteredData.length" [pageIndex]="0"
                [pageSize]="25">
            </mat-paginator>

        </div>



        <div *ngIf="_contactsService.contacts.length === 0 " class="no-invited">


            <img class="empty-inv" src="assets/images/listEmptyCut.png">

        </div>




    </div>

</div>