
    

    <div class="dialog-content-wrapper">
            <mat-toolbar class="mat-accent m-0">
                <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                    <span class="title dialog-title">Nueva campaña</span>
                    <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-toolbar-row>
            </mat-toolbar>
        
            <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
                    <form [formGroup]="_invitationService.invitationForm">
    

                     <!--
                            <div fxLayout="row" fxLayoutAlign="start start">
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Asunto</mat-label>
                                    <input name="name" formControlName="name" matInput required>
                                </mat-form-field>
                            </div>
                
                        -->
                            <div fxLayout="row" class="ckeditor-content" fxLayoutAlign="start start">
                           
                                 
                                <div appearance="outline" floatLabel="always" class="w-100-p"
                                fxFlex="100">

                              

                                    <quill-editor  [modules]="config" placeholder="Escriba elontenido del mensaje..." formControlName="editor">

                                    
                                </quill-editor>

                                     
                             <!--

                                                      <div class="document-editor">
                                        <div class="document-editor__toolbar"></div>
                                        <div class="document-editor__editable-container">
                                            <div class="document-editor__editable">
                                               
<ckeditor [(ngModel)]="model.editorData" [editor]="Editor"></ckeditor>
                                                  
                                            </div>

                                
                                        </div>
                                    </div>

                                -->
              
                                </div>
                             
            

                            </div>
            
             <!--
                            <div class="file-content" fxLayout="row" >
            
            
                                
                                    <input hidden id="fileUpload"  type="file" #fileInput required>
                                 
                                    <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>Seleccionar imagen</mat-label>
                                            <input  name="name" class="example-right-align" formControlName="nameField" matInput required>
            
                                            <span matSuffix>                              
                                          
                                                    <button  mat-mini-fab
                                                    (click)="fileUpload()"
                                                    color="accent"
                                                   >
                                                    <mat-icon>add_photo_alternate</mat-icon>
                        
                                                </button>  
                                                   
                                            </span>
                                        </mat-form-field>
            

                                </div>
                            -->


                             <!--
                            <div fxLayout="row" fxLayoutAlign="start start">
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Compañia</mat-label>
                                    <mat-icon matSuffix class="secondary-text">domain</mat-icon>
                                    <input name="company" formControlName="company" matInput>
                                </mat-form-field>
                            </div>
            
                
                            <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Pie de pagina</mat-label>
                                    <textarea name="notes" formControlName="notes" matInput type="text" max-rows="4"></textarea>
                                </mat-form-field>
                            </div>
                        -->
                        </form>
            </div>
        
            <div mat-dialog-actions class="m-0 p-24" fxLayout="row" fxLayoutAlign="end center">
    
                    <button *ngIf="action === 'edit'"
                            mat-button
                            class="mr-8"
                            (click)="matDialogRef.close(['delete',_invitationService.invitationForm])"
                            aria-label="Delete"
                            matTooltip="Delete">
                        ELIMINAR
                    </button>
            
                    <button *ngIf="action !== 'edit'"
                            mat-button
                            class="save-button"
                            (click)="matDialogRef.close(_invitationService.invitationForm)"
                            [disabled]="_invitationService.invitationForm.invalid"
                            aria-label="SAVE">
                        CREAR
                    </button>
            
                    <button *ngIf="action === 'edit'"
                            mat-button
                            class="save-button"
                            (click)="matDialogRef.close(['save',_invitationService.invitationForm])"
                            [disabled]="_invitationService.invitationForm.invalid"
                            aria-label="SAVE">
                        GUARDAR
                    </button>
            
                </div>
        </div>
        
